.w3-bar .w3-button {
  padding: 16px;
}

.w3-block {
  margin-bottom: 1em !important;
}

.title h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.title h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}

.aboutWrap,
.teamWrap,
.contactWrapper {
  padding: 128px 16px;
}

.OmOssTittel {
  margin-top: 2em;
}

.teamContainer {
  display: flex;
  justify-content: space-between;
}

.bgimg-1 {
  background-position: center;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .title h1 {
    padding-top: 100px;
  }

  .nokkel {
    display: none;
  }

  .OmOssTittel {
    margin-top: 1.5em;
  }

  .w3-quarter {
    padding-bottom: 5em !important;
  }

  .aboutWrap {
    padding: 0px 16px;
  }

  .teamWrap {
    padding: 50px 16px;
  }

  .teamContainer {
    flex-direction: column;
    gap: 2em;
  }

  .bgimg-1 {
    width: 70%;
  }

  .contactWrapper {
    padding: 0px 16px;
  }
}
